html {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html body {
  margin: 0px;
}

html body span {
  min-width: 200px;
}

html body table {
  width: 100%;
}

html body #display_table {
  background: orangered;
  color: white;
}

html body #timer_control_container {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html body #timer_control_container .timer_control_child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body #timer_control_container span {
  min-width: 500px;
  border-radius: 10px;
  border: darkgreen 2px solid;
  padding: 5px 0px;
}

html body #timer_control_container div {
  padding: 10px;
}

html body #timer_control_container #control_reset span {
  background: white;
  color: darkgreen;
}

html body #timer_control_container #control_start span {
  background: darkgreen;
  color: white;
}

html body #timer_control_container #control_stop span {
  background: darkgreen;
  color: white;
}

html body #score_table {
  border-collapse: collapse;
}

html body #score_table tr td {
  padding: 5px;
  border: 1px gray solid;
}

html body #score_table tr span {
  margin: 0px 10px;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
}

html body #score_table tr .score-points {
  font-size: 40px;
}

html body #score_table tr .add_elements {
  border: 1px crimson solid;
  background: crimson;
}

html body #score_table tr .reduce_elements {
  border: 1px tomato solid;
  background: tomato;
}

html body #score_table tr .reduce_elements, html body #score_table tr .add_elements {
  color: white;
}

html body #footer {
  text-align: center;
  background-color: lightgray;
  font-size: 40px;
  margin-top: 20px;
}

.fade-orange {
  -webkit-animation: fadeout-orange 1.5s ease 0s 1 forwards;
          animation: fadeout-orange 1.5s ease 0s 1 forwards;
}

.fade-white {
  -webkit-animation: fadeout-white 1.5s ease 0s 1 forwards;
          animation: fadeout-white 1.5s ease 0s 1 forwards;
}

@media screen and (max-width: 1050px) {
  body {
    font-size: 70px;
  }
  #score_table span {
    min-height: 70px;
    min-width: 100px;
    padding-top: 12px;
  }
  .timer_control_child {
    width: 100%;
  }
  .timer_control_child span {
    width: 100%;
  }
}

@media screen and (min-width: 1050px) {
  body {
    font-size: 40px;
  }
  #score_table span {
    min-height: 50px;
    min-width: 50px;
    padding-top: 5px;
  }
}

@-webkit-keyframes fadeout-orange {
  0% {
    background-color: rgba(255, 69, 0, 0.3);
  }
  100% {
    background-color: rgba(255, 69, 0, 0);
  }
}

@keyframes fadeout-orange {
  0% {
    background-color: rgba(255, 69, 0, 0.3);
  }
  100% {
    background-color: rgba(255, 69, 0, 0);
  }
}

@-webkit-keyframes fadeout-white {
  0% {
    background-color: rgba(255, 255, 255, 0.5);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes fadeout-white {
  0% {
    background-color: rgba(255, 255, 255, 0.5);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
/*# sourceMappingURL=index.css.map */