html
    user-select: none
    body
        margin: 0px
        padding: 0px
        #header
            height: 325px
            #display_table
                margin: 0px
                position: fixed
                width: 100%
                top: 0px
                left: 0px
                background: mediumblue
                color: white
                .timer_table_data
                    text-align: right
                    padding-right: 50px
                #timer_span_score
                    min-width: 110px
                    display: inline-block
        #main
            margin: 20px
            #score_tiles
                border-collapse: collapse
                tr
                    border: 1px gray solid
                    .tile_table_title_td
                        color: white
                        &.no_clear
                            background-color: red
                        &.clear
                            background-color: green
                    &.title_scoreboard
                        &.no_clear
                            background-color: pink
                        &.clear
                            background-color: lightgreen
                    td
                        text-align: center
                        input
                            width: 130px
                            font-size: 65px
        span
            min-width: 200px
        table
            width: 100%
        td
            //border: 1px black solid
        #timer_control_container
            text-align: center
            width: 100%
            display: flex
            justify-content: space-around
            flex-wrap: wrap
            .timer_control_child
                display: flex
            span
                min-width: 500px
                border-radius: 10px
                border: darkgreen 2px solid
                padding: 5px 0px
            div
                padding: 10px
            #control_reset
                span
                    background: white
                    color: darkgreen
            #control_start
                span
                    background: darkgreen
                    color: white
            #control_stop
                span
                    background: darkgreen
                    color: white
        #score_table
            border-collapse: collapse
            tr
                td
                    padding: 5px
                    border: 1px gray solid
                span
                    margin: 0px 10px
                    text-align: center
                    display: inline-block
                    border-radius: 10px
                .score-points
                    font-size: 40px
                .count_elements
                    //border: 1px gray solid
        #footer
            text-align: center
            background-color: lightgray
            font-size: 30px
            margin-top: 20px

.add_elements
    border: 1px crimson solid
    background: crimson
.reduce_elements
    border: 1px tomato solid
    background: tomato
.reduce_elements,.add_elements
    color: white
    margin: 0px 10px
    text-align: center
    display: inline-block
    border-radius: 10px
    min-height: 70px
    min-width: 100px
    padding-top: 12px

.fade-orange
    animation: fadeout-orange 1.5s ease 0s 1 forwards

.fade-white
    animation: fadeout-white 1.5s ease 0s 1 forwards

@media screen and (max-width: 1050px)
    //スマホ
    body
        font-size: 70px
    #score_table
        span
            min-height: 70px
            min-width: 100px
            padding-top: 12px
    .timer_control_child
        width: 100%
        span
            width: 100%

@media screen and (min-width: 1050px)
    //パソコン
    body
        font-size: 40px
    #score_table
        span
            min-height: 50px
            min-width: 50px
            padding-top: 5px

@keyframes fadeout-orange
    0%
        background-color: rgba(255,69,0,0.3)

    100%
        background-color: rgba(255,69,0,0.0)

@keyframes fadeout-white
    0%
        background-color: rgba(255,255,255,0.5)

    100%
        background-color: rgba(255,255,255,0.0)
